NEX_PUBLIC_SUPABASE_URL=https://stmhhvsqwaytilgvszey.supabase.co
NEX_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0bWhodnNxd2F5dGlsZ3ZzemV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxOTI0MzQsImV4cCI6MjA4NTc2ODQzNH0.ty2fV0FByOCzBaIVi2l6XB97dTQnjvORa2TGzpDwBn0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0bWhodnNxd2F5dGlsZ3ZzemV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDE5MjQzNCwiZXhwIjoyMDg1NzY4NDM0fQ.7e0kXfIzIrSCCXA93h9cVGMGYpTInCfsjVxHxGr86dw